
fastapi
uvicorn
numpy
pandas
scikit-learn
nltk
spacy
autocorrect
rank_bm25
datefinder
python-multipart


fastapi
uvicorn[standard]
numpy
pandas
scikit-learn
nltk
spacy
autocorrect
datefinder
rank_bm25
python-multipart
